IntegraClientes/xml-resources/web-service-references/RevistaIntegra/wsdl/localhost_8080/RevistaIntegra/RevistaIntegra.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://revistaintegra.cha.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://revistaintegra.cha.com/">

<xs:element name="listarDados" type="tns:listarDados"/>

<xs:element name="listarDadosResponse" type="tns:listarDadosResponse"/>

<xs:element name="pesquisarDepartamento" type="tns:pesquisarDepartamento"/>

<xs:element name="pesquisarDepartamentoResponse" type="tns:pesquisarDepartamentoResponse"/>

<xs:complexType name="listarDados">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarDadosResponse">
<xs:sequence>
<xs:element name="return" type="tns:publicacao" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicacao">
<xs:sequence>
<xs:element name="area_pesquisa" type="xs:string" minOccurs="0"/>
<xs:element name="codigo_publicacao" type="xs:int"/>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pesquisarDepartamento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pesquisarDepartamentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:departamento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="departamento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>